<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pserv4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <pserv4.Properties.Settings>
            <setting name="LastSearchText" serializeAs="String">
                <value />
            </setting>
            <setting name="LastViewType" serializeAs="String">
                <value>Services</value>
            </setting>
            <setting name="LastSortOrder0" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSortOrder1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSortOrder2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSortOrder3" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSortOrder4" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnOrderServices" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnOrderDevices" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnOrderWindows" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnOrderUninstaller" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnOrderProcesses" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnOrderModules" serializeAs="String">
                <value />
            </setting>
        </pserv4.Properties.Settings>
    </userSettings>
</configuration>